# ========================
# Gradle
# ========================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.kotlin/

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iws
*.iml
*.ipr
out/

# ========================
# Relatórios de Testes (Core & Reports)
# ========================
# Ignora qualquer arquivo HTML (ExtentReports)
*.html
# Ignora especificamente seus relatórios datados
Relatorio_*.html
# Pastas de saída comuns
test-output/
target/
build/reports/
test-reports/
# Screenshots de erro
screenshot/
*.png

# ========================
# Sistema e Logs
# ========================
.DS_Store
*.log
*.tmp